<html>
<head>
   <% include Partials/head.ejs %>
</head>
<body>
   <% include Partials/menu.ejs %>
   <br/><br/><br/>

   <% include Partials/headline.ejs %>
   <br/>
	
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<img src="/images/main.jpg" class="img-responsive" alt="ilovemycity">
		</div>
	</div>
</div>
<% include Partials/jsIncludes.ejs %>
		</body>
</html>